.Container {
    background-color: #E4F9F7;
    margin-top: 0;
    
}

.Container__images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 767px) {
    .Container__images{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
    }
    .container__images--img1{
        width: 100%; 
    }
    .container__images--img2{
        width: 100%; 
    }
}

.container__images--img1{
    width: 50%;
    height: 400px;
    margin-right: 60px;
}


.container__images--img2{
    width: 50%;
    height: 400px;
    margin-left: 60px;
}

.Container__h1{
    padding-top: 15px;
    margin-top: 0px;
    margin-bottom: 15px;
}

.Container__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
    margin: 70px auto 10px ;
    width:50%;
    padding:10px 70px 80px 70px;
    background-color: lightgrey;
    border-radius: 30px;
}

.Container__form__discription{
     width: 70%;
     font-family: "Sacramento", cursive;
     color: #231651;
     margin-bottom: 60px;
}

input{
    background-color:rgb(198, 205, 211);
    border: 0px solid;
    align-items: center;
    background-color: rgb(18, 12, 12);
    width: 270px;
    height: 47px;
    padding:8px 40px;
    font-size: large;
    font-weight: 300;
    font-family: "Sacramento", cursive;
    border-radius: 6px;
    margin-bottom: 30px;
}

input:hover{
    background-color: rgba(0,0,0,0.2);
 }

.Conainer__form__discription__anchor{
    background-color:#2374AB;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif ;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    /* width: 200px; */
    padding: 5px 100px ;
    margin-left: 40px;
    text-decoration: none;
    
 }  

 .Conainer__form__discription__anchor:hover {
    background-color: #bb7900 ;
    text-decoration: none;
 }
#errorsubject,#errorlevel,#errorlocation{
    visibility: hidden;
    color: red;
}
