.container{
    background-color: #E4F9F7;
    margin-top: 0;
    width: 100%;
    
}

.container__file {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}
.container__images--img1{
  width: 40%;
  height: 400px;
 
}


.container__images--img2{
  width: 50%;
  height: 400px;
  margin-left: 10px;
}

@media (max-width: 767px) {
  .Container__images{
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
      justify-content: center;
  }
  .container__images--img1{
      width: 100%; 
  }
  .container__images--img2{
      width: 100%; 
  }
}



table,td{
    border: 1px solid #ddd;
  text-align: left;
}
table {
    border-collapse: collapse;
    width: 50%;
    margin-left: 100px;
  }
  th, td {
    padding: 15px;
  }
  tr:nth-child(even){background-color: #f2f2f2}


.Conainer__form__discription__anchor{
    align-items: center;
    margin:10px 0px 20px 260px;
    background-color:#2374AB;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif ;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    padding:10px 20px 20px 30px;
    width: 20%;
   
    
 }  

 .Conainer__form__discription__anchor:hover {
  background-color: #bb7900 ;
  text-decoration: none;
}
 

.container__table{
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  flex-wrap: wrap;
  width: 50%;

  
}

