*{
    padding: 0;
    margin: 0;
}

html{
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
}

body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: #E4F9F7;; */
}

.header{
   
    margin-bottom: 0px ;
    position: sticky;
    top: 0;
    background-color: black;
    font-family: 'spartan',sans-serif;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding-bottom: 20px;

}

.header__h3{
    color: yellow;
    padding-left:20px;
    display: inline-block;
    width: fit-content;  
}

.btn{
    border-radius: 5px;
    background-color: #bb7900;
    border: 2px solid #bb7900;
    color: #fff!important;
    padding: 8px;
}

.header__nav{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    right:0;
    
}
.more{
    display: none;
}
.hamburg{
    display: none;
}
.hiddenlarge{
    display: none;
}
#content-id{
    display: none;
}
@media only screen and (max-width: 768px) {
.hamburg{display: block;}
.grade{
    display: none;
}
.hiddenlarge{
    display: block;
}
}



.header__nav__ul {
  /* margin-left: 500px; */
  display: flex;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    right:0;
    

}

.header__h3{
    display: inline ;
}
.header__nav__ul a{
    text-decoration: none;
    color: white;
    font-size: 20px;

}

.header__nav__ul a:hover{
     color: #11999E;
}

.header__nav__ul li{
    display: inline;
    margin-left: 30px;
    color: white; 
}

.footer{
    background-color:  #66BFBF;
    display: flex;
    width: 100%;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:flex-start;
    margin: 0px;
}
/* 
.footer__Medias__icons--facebook{
    margin: 40px 0 40px 160px ;
}

.footer__Medias__icons--twitter{
    padding-left:20px;
}

.footer__Medias__icons--linkedin{
    padding-left:20px ;   
} */


.footer__Medias__icons{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}




.footer__Medias{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
   
    
}

.footer__Address{
    margin-top: 10px;
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    /* align-self: flex-end; */
    height: 100px;
    
}

.footer__Address a:hover{
    
    color: #ffffff;
}

.footer__Address a{
    color:  #231651;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    

}

h1{
    padding-top: 5px;
    text-align: center;
    color:#2374AB ;
    font-family: 'Montserrat', sans-serif ;
  
}   
/*
Mobile Small Devices
@media (max-width: 425px) { } 

Mobile Medium Devices*/
@media (min-width: 426px) and (max-width: 767px) { }

/*Mobile Large Devices*/
@media (min-width: 768px) and (max-width: 1024px) { } 

/*Tablet Devices*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){ } 

/*Laptop Large Devices*/
@media (min-width: 1441px){ }
/*Toolbar Navigation*/
.toolbar{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
grid-template-rows: auto;
background-color: #333;
}
.nav-block{
    text-align: center;
    padding:14px 16px
}
.nav-link{
    text-align: center;
    text-decoration: none;
    

}
.active{
    background-color:#04AA6D;
    color: black !important;
}
.nav-block:hover {
    background-color: gray;
    color: black;}
    /*media  Tool bar for mobile*/
    *****************************************************************************************
    Menu-Hamburg Styling
    *****************************************************************************************/
   
    
    .sidemenu{
        width: 100%;
        background-color: #ddd;

       
        
    }
   /*icon*/
    .icon{
        
        font-weight:600;
       font-size: 24px;

    }
/*Search style*/

.search-label{
    margin-top: 10px;
    background-color: #ddd;
    padding-bottom: 2px;
    
}
.search-form{
    padding:1px 1px 3px 1px;
border-radius: 5px;
background-color: white;
}
.search{

    width: 100px;
    margin-top: 14.5px;
    
    border: none;
}
/*login and sign up*/
.f-left{
float: right;
}
.btn-ham{
    border: none;
    color: white;
    background-color: #333;
}
.headerbar{
    text-align: center;
    color: yellow;
    background-color:#000 ;
    font-size: larger;
    font-weight: bolder;
    padding: 15px;
    font-family: "Sacramento", cursive;
}
.white{
    color: white;
}