.announce{
    background-color:   #E4F9F7;
    margin: 0px ;  
    padding:0;
    display: flex;
    flex-direction: column;
    width: 100%;

}

#topic{
    text-align: center;
    font-family: 'Sacramento', cursive;
    margin-top: 70px;
}

.announce__data{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-family: 'Sacramento', cursive;
    color: #2374AB;
    margin-top: 70px;
    margin-left: 50px;
}

.announce__data h3{
    width: 25rem;
    font-family: 'Sacramento', cursive;
    margin-right: 100px;
}

img{
    height: 50%;
}


