
.sign-in{
    background-color: #E4F9F7;
    padding-bottom: 40px;
    /* margin-bottom: 16px; */
    align-items: center;
    display: flex;
    flex-direction: column;
}
h1{
    text-align: center;
}

.sign-in__fill {
   display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* justify-content: space-around; */
    padding:80px 20px 80px 20px;
    background-color: lightgrey;
    border-radius: 40px;
    width: 50%;
}
 input{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 0px solid;
    align-items: center;
    background-color:gray;
    width:50%;
    align-items: center;
    height: 47px;
    padding:8px 40px;
    font-size: large;
    font-weight: 300;
    font-family: "Sacramento", cursive;
    border-radius: 6px;
    margin-bottom: 60px;
}


input:hover{
    background-color:white;
 }

button{
    height: 50px;
    width: 50%;
    border: none;
    background-color:#bb7900;
    border-radius: 6px;
    font-size: 20px;
    margin: 10px 10px 0px 37px;
} 

button:hover{
    background-color:#2374AB  ;
}
#erroremail,#errorpassword{
    color: red;
    visibility: hidden;
}

